.Rproj.user
.Rproj
.Rhistory
.RData*
.Ruserdata


PE_Cruises/data/raw_data/*
Data/
PE_Cruises/results/*plot*

Data/*
figures/*
results/*
Linear_Regression_Method_Supervised/*
Metadata/*
ODV/*
VP_discussions/*

*.png
*.svg
*.nc
*.pdf
*.xlsx
*.docx

*geotif
*.gri
*.grd

*.pptx
PE_Cruises/*
PE_Cruises2/*
PE_Cruises_test/
PE_Cruises_FCS/*
PE_Cruises_0.22/*
PE_Cruises_viral_production_OUTLIERS/*
